/* Common */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

ul {
  list-style: none;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  background-color: tomato;
}

/* Header */
.logo-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #212121;
}

.web-header {
  color: #2196f3;
}

.site-nav .link {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(71, 57, 57);
}

.list-nav {
  display: flex;
  
  margin-left: 86px;
  padding: 0;
}

.list-nav .link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-nav li {
  margin-right: 50px;
}

.list-nav li:last-child {
  margin-right: 0;
}

.list-contacts {
  display: flex;
 
  margin-left: auto;
  padding: 0;
}

.list-contacts li:nth-child(odd) {
  margin-right: 10px;
}

.list-contacts li:nth-of-type(2) {
  margin-right: 30px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Footer */

footer {
  background-color: #2f303a;

  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 179px;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #2196f3;

  margin-top: 48px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.address {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.studio-footer {
  color: #ffffff;
}

.link-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-white-letters {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-us {
  display: flex;
  flex-direction: column;

  margin-right: 102px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.button-footer {
  background-color: var(--accent-color);

  display: inline-flex;
  justify-content: space-evenly;
  
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.subscribe-title {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.875;
  
  letter-spacing: 0.06em;

  color: #ffffff;
  margin: 0;
 }

.developer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Studio */

.container-solutions {
  text-align: center;
}

.solutions-title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 46px;
}

.place-order-button {  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  
  display: inline-block;
    
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Section Advantages */

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
}

.advantages-title {
  color: transparent;
}

.our-advantages ul {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 94px;
}

.icon-antenna {
  display: inline-block;
  border-radius: 4px;
  width: 278px;
  height: 120px;
  padding: 25px 106.34px 25px 106.34px;
  background-color: #F5F4FA;
  margin-right: 29px;
  margin-bottom: 30px;
}

.icon-clock {
  display: inline-block;
  border-radius: 4px;
  width: 278px;
  height: 120px;
  padding: 25px 105.54px 25px 105px;
  background-color: #F5F4FA;
  margin-right: 30px;
  margin-bottom: 30px;
}

.icon-diagram {
  display: inline-block;
  border-radius: 4px;
  width: 278px;
  height: 120px;
  padding: 33.2px 104px 33.11px 104px;
  background-color: #F5F4FA;
  margin-right: 30px;
  margin-bottom: 30px;
}

.icon-astronaut {
  display: inline-block;
  border-radius: 4px;
  width: 278px;
  height: 120px;
  padding: 25px 104px 25px 104px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.our-advantages .icon-astronaut:hover,
.our-advantages .icon-astronaut:focus {
    background-color: var(--accent-color);
}

.our-advantages .icon-antenna:hover,
.our-advantages .icon-antenna:focus {
  background-color: var(--accent-color);
}

.our-advantages .icon-clock:hover,
.our-advantages .icon-clock:focus {
  background-color: var(--accent-color);
}

.our-advantages .icon-diagram:hover,
.our-advantages .icon-diagram:focus {
  background-color: var(--accent-color);
}

.our-advantages p {
  width: 278px;
  margin-top: 10;  
}


/* Section What we do */

.what-we-do ul {
  margin-top: 50px;
  margin-bottom: 94px;

  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.what-we-do li {
  margin-right: 30px;

  display: flex;
  flex-direction: column;
}

.what-we-do li:last-child {
  margin: 0;
}

.our-activity {
  display: inline-block;
  height: 70px;
  width: 380px;
  padding-top: 34px;
  padding-bottom: 27px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;  
  margin-top: -70px;  
  
  background-color: rgba(47, 48, 58, 0.8); 
  color: #ffffff;  

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


/* Section Our Team */

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.our-team  {
  display: flex;
  width: 1240px;
  flex-direction: row;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.our-team .personal-details {
  margin-right: 30px;
}

.our-team .personal-details:last-child {
  margin: 0;
}

.personal-data {
  display: inline-block;
  border-radius: 0 0 4px 4px;
  height: 162px;
  width: 278px;
  background-color: #ffffff;

  margin-bottom: 94px;
}

.personal-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;

  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.speciality {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.social-media {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

.our-team-section .link:hover,
.our-team-section .link:focus {
  background-color: var(--accent-color);
}


/* Section Clients */

.clients-title {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 94px;
  padding-left: 20px;
  padding-right: 20px;
}

.clients-list .link {
  display: inline-block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 175px;
  height: 90px;
  margin-right: 30px;
  align-content: center;
  padding: 19px 67px 19px 68px;
}

.client:last-child {
  margin: 0;
}

.clients .link:hover,
.clients .link:focus {
    border-color: var(--accent-color);
}



/* Portfolio */

.portfolio-title {
  color: transparent;
  margin: 0;
}

.list-of-buttons {
  display: flex;
  justify-content: center;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

button {
  background-color: #F5F4FA;
  color: var(--title-text-color);

  border-radius: 4px;
  padding: 6px 22px 6px 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.button {
  margin-right: 8px;
}

button:last-child {
  margin: 0;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-right: 30px;

  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 94px;  
}

.portfolio-list li {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
  margin-bottom: 30px;
  
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.portfolio-list li:nth-of-type(3n) {
  margin-right: 0;
}

.portfolio-list li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-item-details {
  
  width: 380px;
  height: 110px;
}
.portfolio-item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 24px;
  padding-top: 20px;
  margin-bottom: 4px;

  color: var(--title-text-color);
}


/* .portfolio-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: transparent;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 380px;
  height: 294px;
  margin-top: -337px;
} */

.portfolio-item-job {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-left: 24px;
  margin: 0;

  color: var(--primary-text-color);
}

.portfolio-list li:hover,
.portfolio-list:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  
  display: flexbox;

}

